<ul>
  <% @referrals.each do |r| %>
    <li>
      <%= r.response_identifier %>
      &middot;
      <%= r.partner.name %>
      &middot;
      <%= r.last_state %>
      &middot;
      <%= r.created_at %>
      <%= link_to('View', referral_path(r.partner, r)) %>
    </li>
  <% end %>
</ul>